<% @title = "About" %>

<div class="container about-content">

  <div class="row ">

    <div class="col-md-6">
      <p> Sami began playing the modern oboe aged 12 and began to fall in
        love with the instrument and music. She began her further education
        at Birmingham Conservatoire in 2009, where she was taught by Richard
         Weigall, Jenni Philips and George Caird. It was here that she was
         introduced to the baroque oboe by Gail Hennessy. After a very
         difficult and frustrating start with the baroque oboe, she was
         fortunate to receive a grant to buy her own instrument. It was then,
          that she instantly fell in love with the instrument and her passion
          for the music flourished. <br>
In 2016 she graduated from The Royal Conservatory of The Hague, in the
Netherlands, where she studied historical oboe under Frank de Bruine. <br>
Currently, she is a professional freelance oboist performing with many
ensembles such as CBMV and RCM's collaboration directed by Sir Roger Norrington,
 Musical and Amicable Society, The Armade Players, Instruments of Truth andTime,
 Eboracum, Oxford Bach Soloists, Phoenix Baroque Orchestra, Leeds Baroque,
 Benslow Music Trust, Den Haags Vocale and many more. She maintains a professional
  career throughout the UK and Europe. In January 2014, she performed the Fasch
  Oboe Concerto in D with Birmingham Conservatoire Baroque Orchestra Directed and
   led by Lucy Russel.</p>
    </div>

    <div class="col-md-6">

      <div class="slider-container">
      <div class="slider" id="slider-sami">
        <ul class="images">
          <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/9970413_orig.jpg"> </li>
          <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/3734790_orig.jpg"> </li>
          <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/3441917_orig.jpg"> </li>
          <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/244011_orig.jpg"> </li>
          <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/9225002_orig.jpg"> </li>
          <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/2914666_orig.jpg"> </li>
          <li> <%= image_tag("oboes.jpg") %> </li>
        </ul>
        <div class="img-message"> <p><p> </div>
      </div>
      <div class="thumbnails"> </div>
    </div>

    </div>

  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h2>Baroque Oboe</h2>
    <div class="row content" id="b-oboe-contents">
      <div class="col-md-6">
           <p> The Baroque oboe as we know it today was standardized by 1725 approx.
             It was developed in France, and originated from the shawm. With
             this oboe you can play most music from the seventeenth century
             to mid-late eighteenth century.
             The instrument that Sami plays, is a copy of an English Stanseby model.
           </p>
      </div>
      <div class="col-md-6">
        <div class="slider-container">
        <div class="slider" id="slider-b-oboe">
          <ul class="images">
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/5737067.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/6329548.jpg"> </li>
            <li> <%= image_tag("B-Oboe-1.jpg") %> </li>
          </ul>
          <div class="img-message"> <p><p> </div>
        </div>
        <div class="thumbnails"> </div>
      </div>
      </div>
    </div>
     <p><a id="b-oboe-button" class="btn btn-primary btn-lg content-button">Learn more</a></p>
  </div>
</div>


<div class="container">
  <div class="jumbotron">
    <h2>Oboe D'amore</h2>
    <div class="row content" id="b-damore-contents">
      <div class="col-md-6">
           <p> The oboe d'amore is a transposing instrument in A, which
             appears mostly in the music of J.S Bach. Telemann also wrote
             many solos for this instrument. After the death of Bach in 1650
              it seemed to have been forgotten, as there is no evidence that
              it was composed for or played. The instrument has a beautiful
              rounded, mellow sound. The sound was developed, by creating a
              wider bore and spreading the tone holes further apart. It is
              distinguished by its resonant rounded bell. Her instrument 'Woody'
               is a copy of an Eichantopf, made by Sand Dalton. You can see where
                he gets his name from, if you look at the beautiful patterns in
                 the wood.
           </p>
      </div>
      <div class="col-md-6">
        <div class="slider-container">
        <div class="slider" id="slider-b-damore">
          <ul class="images">
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/3622897.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/7350750.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/9616526.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/1421440671.png"> </li>
          </ul>
          <div class="img-message"> <p><p> </div>
        </div>
        <div class="thumbnails"> </div>
      </div>

      </div>
    </div>
     <p><a id="b-damore-button" class="btn btn-primary btn-lg content-button">Learn more</a></p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h2>Oboe d'caccia</h2>
    <div class="row content" id="b-caccia-contents">
      <div class="col-md-6">
           <p> My Oboe D'Caccia is a copy of an Eichentopf made by Sand Dalton. The
             d'caccia is normally made from Maple, and as you can see, it it bent
             to a 90 angle. It is scored and then wrapped in leather. It it a
              transposing instrument, which sounds in F. It is most commonly
              heard in music by J.S Bach.
           </p>
      </div>
      <div class="col-md-6">
        <div class="slider-container">
        <div class="slider" id="slider-b-caccia">
          <ul class="images">
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/1421439114.png"> </li>
          </ul>
          <div class="img-message"> <p><p> </div>
        </div>
        <div class="thumbnails"> </div>
      </div>

      </div>
    </div>
     <p><a id="b-caccia-button" class="btn btn-primary btn-lg content-button">Learn more</a></p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h2>Classical Oboe</h2>
    <div class="row content" id="c-oboe-contents">
      <div class="col-md-6">
           <p> This is my new instrument! It is a 4 keyed, classical oboe,
              made by Alfredo Bernadini! I have called it Frankenstein, due to
               the surgery it's had on a small crack in the upper joint. It also
               used to belong to Frank de Bruine, so I thought the name was fitting.
           </p>
      </div>
      <div class="col-md-6">
        <div class="slider-container">
        <div class="slider" id="slider-c-oboe">
          <ul class="images">
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/5737067.jpg"> </li>
          </ul>
          <div class="img-message"> <p><p> </div>
        </div>
        <div class="thumbnails"> </div>
      </div>
    </div>
  </div>
  <p><a id="c-oboe-button" class="btn btn-primary btn-lg content-button">Learn more</a></p>
</div>

<div class="row foot-content">
  <div class="col-md-12">
    <p class ='front-content'> If you have any questions you can ask through my <%= link_to "Contact Page.", contact_url, class: "small-link" %></p>
  </div>
</div>

</div>
<br>
<br>
