
  <div class="fill">
    <div class="jumboimage">

    </div>
  </div>


<div class = "front-content">
  <p>
    Sami is a professional freelance oboist, specialising in historical
    performance. She performs throughout the uk and also in Europe. As well
     as a performer, she makes and sells SnugCases and baroque oboe reeds and
      cane. Click on shop to find out more.
  </p>
</div>
