@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #f8f8f8;
$secondary-color: purple;
$shadow-color: grey;
$hover-color: black;

html, body{
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  color: purple;
}

p{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 18px;
}

.social-icon{
  width:50px;
  height: 50px;
  margin-top: 3px;
}

.btn-default{
  font-size: 24px;
  color: purple;
}

.btn-primary{
  background-color: purple !important;
  -webkit-box-shadow: 2px 2px 1px $shadow-color;
  -moz-box-shadow: 2px 2px 1px $shadow-color;
  box-shadow: 2px 2px 1px $shadow-color;
}

.alert{
  margin-top: 5px;
}

.container{
  margin-top: 60px;
}

/* NavBar-Shopping Cart */
  #shopping-cart-head-link{

  float:right;
  position: relative;
  width:50px;
  height:50px;
  padding: 0;
  margin-top: 5px;
  margin-right: 0;

  .glyphicon{
    position: absolute;
    color: $secondary-color;
    font-size: 1.5em;
  }

  .cart-counter{
    position:absolute;
    color: $primary-color;
    font-size: 0.8em;
    left: 15px;
  }
}

/* NavBar */

#titleLink{
  color: $secondary-color;
  font-size: 3.0vw;
  margin-top: 5px;

}

#titleLink:hover{
  color: $hover-color;
}

.dropdown-link{
  font-size: 24px;
}

.navbar-right {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-right: 20px;

  li{
    padding-bottom: 0;

    a{
      color: $secondary-color !important;
    }
  }
}

.navbar-fixed-top{
  background-color: $primary-color;
}

/* Front Page */
.jumboimage{
    overflow: hidden;
    padding:0;
    width: 100%;
    margin-top:20px;
    img{
      width:inherit;

    }

/* the text box on front page*/
@media screen and (max-width: 1200px) {
    .inner-image-text {
        display: none;
    }
}

    .inner-image-text{
      position:fixed;
      color:white;
      width:450px;
      right:0;
      bottom:0;
      margin-right:50px;
      margin-bottom:30px;

      p{
        font-family: 'Dosis', sans-serif;
        font-size: 30px;
      }
    }
}

@media screen and (min-width: 1200px) {
    .front-mobile-text {
        display: none;
    }
}

.front-mobile-text{
  color:purple;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  p{
    font-size: 24px;
  }
}

/* Information Panel's, about page */
.col-md-6{
  text-align: center;
}

.col-xs-6{
  text-align: center;
}

.about-content{
  background-color: #f8f8f8;
  margin-top: 80px;
  .row{
    padding: 10px 20px 10px 20px;
  }
}

.foot-content{
  background-color: #f8f8f8;
}

/* Contact-Block */
#contact-block{
  margin-top: 80px;
  background-color: #f8f8f8;
  padding-bottom: 10px;
  .case-links{
    float:right;
  }
}
/* Contact-Form */
.contact-form{
  background-color: #f8f8f8;
  margin-top: 30px;
padding-left:5px;
  label{
    width: 3em;
    float: left;
    margin-right: 1em;
    display:block;
  }
  input{
    margin-bottom: 10px;
    width: 95%;
    max-width: 500px;
  }
  textarea{
    width:95%;
    max-width: 500px;
  }
  .submit{
    width: 110px;
    float: right;
    margin-right: 15px;
  }
}
.error_explanation{
  background-color: #f8f8f8;
  ul{
    list-style: none;
  }
}


// sliders
.slider-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;
  ul{
    margin-right:10px;
    li{
      img{
        vertical-align: bottom;
      }
    }
  }
}

.thumbnails {
  margin-top: 10px;
  text-align: center;
}
.thumbnails ul {
  list-style: none;
  padding:0;
}
.thumbnails ul .active-thumb {
  opacity: 1;
}
.thumbnails ul li {
  display: inline-block;
  opacity: 0.5;
  margin-top: 3px;
}
.thumbnails ul li img {

  width: 60px;
  height: 40px;

}

.img-message{
  position:relative;
  margin-top: -20px;
  background-color: black;
  color: white;
  text-align: center;
}


.front-content{
  padding: 20px 20px 20px 20px;
}

//shop

.cart-listing{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  background-color: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 10px 3px 10px;
}

.product-card{
  border-bottom: 2px solid $shadow-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:500px;
  padding: 3px 10px 3px 10px;
  background-color: #f8f8f8;
}



.product-image{
  width:250px;
  margin-bottom: 5px;
}

.col-md-4{
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

.info-block{
  background-color: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.cart-item-info{
  float:left;
}



.q-dropdown input{
  width: 70px;
}

.delivery-address{
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.submit-button{
  margin-top:3px;
  a{
    color:purple;
  }
}
